* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

section{
    overflow: hidden;
}

img {
    width: 300px;
    height: 400px;

}

div {
    float:left;
    width: 300px;
    margin:30px;
    position: relative;
    left:22%;
}

h3 {
    text-align: center;
}
p {
    text-align: center;
}
.lorem {
    text-align: left;
}
aside {
    width: 900px;
    position: relative;
    left:22%;

}
